[submodule "spxe"]
	path = spxe
	url = https://github.com/LogicEu/spxe.git
[submodule "spxmath"]
	path = spxmath
	url = https://github.com/LogicEu/spxmath.git
[submodule "spximg"]
	path = spximg
	url = https://github.com/LogicEu/spximg.git
[submodule "spxplot"]
	path = spxplot
	url = https://github.com/LogicEu/spxplot.git
[submodule "spxfont"]
	path = spxfont
	url = https://www.github.com/LogicEu/spxfont.git
